BODY { background-color: #0077b9
; margin: 10px 0px 10px 10px; padding: 0px; scrollbar-3dlight-color: #0077b9
; scrollbar-arrow-color: #000000; scrollbar-base-color: #FFFFFF; 
scrollbar-darkshadow-color: #FFFFFF; scrollbar-face-color: #0077b9
; scrollbar-highlight-color: #FFFFFF; scrollbar-shadow-color: #0077b9
} BODY.mainframe { background-color: #0077b9
; margin: 0px 0px 0px 0px; padding: 0px; scrollbar-3dlight-color: #0077b9
; scrollbar-arrow-color: #000000; scrollbar-base-color: #0077b9
; scrollbar-darkshadow-color: #3B501B; scrollbar-face-color: #0077b9
; scrollbar-highlight-color: #D9EABF; scrollbar-shadow-color: #759F35 } 
.darkShade { background-color: #B1D37F; } FORM { margin: 0px; padding: 0px } P, 
DIV, SPAN { font-family: Verdana, Arial, sans-serif; font-size: 11px; color: 
#000000; } .bigHead { font-weight: bold; font-size:medium; margin: 10px 20px 
0px 20px } .formHead { font-weight: bold; margin: 10px 20px 0px 20px } .formElm 
{ margin: 10px 20px 0px 20px } .msgDate { font-weight: bold; padding: 0px 20px 
0px 20px } .msgPlace { font-weight: bold; padding: 0px 20px 10px 20px } 
TR.jaggedBG { background-color: #ffffff
} TR.headerBG { background-color: #ffffff
} TR.plainBG { background-color: #0077b9
; }
TD.channelBox{
	background-color: #0077b9
} .pageHeader { margin: 20px 0px 0px 20px } .imgHolder01 { margin: 15px 0px 
10px 20px } .imgHolder02 { margin: 10px 0px 15px 20px } .maintextbold { color: 
#006699
; font-family: Verdana, Arial, sans-serif; font-size: 11px; font-weight: bold; 
text-decoration: none } .maintext { color: #006699
; font-family: Verdana, Arial, sans-serif; font-size: 11px; text-decoration: 
none } .maintextlarge { color: #006699
; font-family: Verdana, Arial, sans-serif; font-size: 13px; text-decoration: 
none } .highlightTextbold { color: #006699
; font-family: Verdana, Arial, sans-serif; font-size: 11px; font-weight: bold; 
text-decoration: none } .highlightText { color: #006699
; font-family: Verdana, Arial, sans-serif; font-size: 11px; text-decoration: 
none } H4 { color: #DC0067; font-family: Verdana, Arial, sans-serif; font-size: 
11px; font-weight: bold; text-decoration: none } .strongHighlightTextbold { 
color: #dc0067
; font-family: Verdana, Arial, sans-serif; font-size: 11px; font-weight: bold; 
text-decoration: none } .strongHighlightTextbig { color: #dc0067
; font-family: Verdana, Arial, sans-serif; font-size: 15px; font-weight: bold; 
text-decoration: none } .strongHighlightText { color: #dc0067
; font-family: Verdana, Arial, sans-serif; font-size: 11px; text-decoration: 
none } A { font-family: Verdana, Arial, sans-serif; font-size: 11px; 
font-weight: bold; text-decoration: none } A.large { font-family: Verdana, 
Arial, sans-serif; font-size: 13px; font-weight: bold; text-decoration: none } 

 A:link, A:visited { color: #006699
} A:active, A:hover { color: #dc0067
; text-decoration: underline; }
A.highlight:link, A.highlight:visited, A.highlight:active
{ color: #dc0067; text-decoration: none; }
A.highlight:hover
{ color: #dc0067; text-decoration: underline; }
A:link.white, A:visited.white { color: #FFFFFF } A:active.white, A:hover.white 
{ color: #FFFFFF; text-decoration: underline; }

img.icon {border: 2px solid #0077b9;} 
